<html ng-app="bcApp">
  
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/admin.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="app.js"></script>
    <script>
              var fruitList = [
                {"name": "apple", "qty": 10},
                {"name": "mango", "qty": 20},
                {"name": "banana", "qty": 30},
                {"name": "durian", "qty": 20},
                {"name": "navel orange", "qty": 30},
                {"name": "pear", "qty": 10},
                {"name": "blood orange", "qty": 20},
                {"name": "blueberry", "qty": 30}
              ];
     </script>

  </head>
  
  <body >
    <div class="container">

    <div class="page-header">
    <h2>Button checking with a directive</h2>
    </div>

    <div class="content" ng-controller="buttonCheckCtrl" >

      <div class="row">

          <div class="span4">
          <button button-check class="btn" ng-model="buttonVals['A']">A - first</button><br>
          <button button-check class="btn" ng-model="buttonVals['B']">B - first</button><br>
          <button button-check class="btn" ng-model="buttonVals['C']">C - first</button><br>
          <button button-check class="btn" ng-model="buttonVals['D']">D - first</button><br>
          <button button-check class="btn" ng-model="buttonVals['E']">E - last</button>
          </div>

          <div class="span4">
          <input id="gradeCheck" type="checkbox" ng-model="buttonVals['A']"> A
          <input type="checkbox" ng-model="buttonVals['B']"> B
          <input type="checkbox" ng-model="buttonVals['C']"> C
          <input type="checkbox" ng-model="buttonVals['D']"> D
          <input type="checkbox" ng-model="buttonVals['E']"> E
          </div>

          <div class="span4">
          <b>ngModel Values</b><br/>
          Button Value A: {[{buttonVals['A']}]}<br/>
          Button Value B: {[{buttonVals['B']}]}<br/>
          Button Value C: {[{buttonVals['C']}]}<br/>
          Button Value D: {[{buttonVals['D']}]}<br/>
          Button Value E: {[{buttonVals['E']}]}<br/>
          <br/>
          Show Matches Only? {[{showMatchesOnly}]}
          </div>
     </div>

      <div class="row">
          <div class="span12">
            <p>The checkboxes work, but the style of the button won't necessarily change (it's a bug that I'm too lazy to fix.)
            <br>The buttons filter the table below, based on either the first or the last character of the fruit name.

            <p>The userFilterRegex: <b>{[{userFilterRegEx}]}</b></p>
            <button button-check class="btn" ng-model="showMatchesOnly">Show Matches Only?</button></p>
          </div>

      </div>

      <div class="row">
          <div class="span12">
          <table class="table-bordered table-striped table-condensed table small">
            <thead>
            <tr>
                <th ng:repeat="th in fruitsTable.tableHead"
                    ng:class="sortClass(th.name)"
                    ng:click="changeSorting(th.name)">{[{th.display}]}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in fruitsTable.tableGrid">
                <td ng-repeat="th in fruitsTable.tableHead">{[{row[th.name]}]}</td>
            </tr>
            </tbody>
          </table>

          </div>
      </div>

    </div>

    </div>
  </body>
</html>





