<html ng-app="bcApp">
  
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/admin.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="app.js"></script>

  </head>
  
  <body >
    <div class="container">

    <div class="page-header">
    <h2>Button checking with a directive</h2>
    </div>

    <div class="content" ng-controller="buttonCheckCtrl" >

      <div class="row">

          <div class="span4">
          <button button-check class="btn" ng-model="buttonVals['A']">A</button>
          <button button-check class="btn" ng-model="buttonVals['B']">B</button>
          <button button-check class="btn" ng-model="buttonVals['C']">C</button>
          <button button-check class="btn" ng-model="buttonVals['D']">D</button>
          </div>

          <div class="span4">
          <input id="gradeCheck" type="checkbox" ng-model="buttonVals['A']"> A
          <input type="checkbox" ng-model="buttonVals['B']"> B
          <input type="checkbox" ng-model="buttonVals['C']"> C
          <input type="checkbox" ng-model="buttonVals['D']"> D
          </div>

          <div class="span4">
          Button Value A {[{buttonVals['A']}]}<br/>
          Button Value B {[{buttonVals['B']}]}<br/>
          Button Value C {[{buttonVals['C']}]}<br/>
          Button Value D {[{buttonVals['D']}]}<br/>
          </div>



      </div>

      <div class="row">

          <div class="span12">
              <hr>
            <p>P.S. Checkboxes are for visualization. Don't click them. Click the buttons.
            <p>P.P.S. This uses twitter bootstrap classes for the buttons.
          </div>

      </div>

    </div>

    </div>
  </body>
</html>





